[snowflake]
account = "your_account_identifier"
user = "your_username@yourcompany.com"
authenticator = "externalbrowser"
role = "R_CIT_DATA_READ"
warehouse = "SNOWFLAKE_LEARNING_WH"
database = "CIT_DATA_CORE"
schema = "TRACKING"
table = "INSYTE_TRAKING_EVENTS"
